li
    a(href="#")= t("menu.dashboard")
li.dropdown
    a(href="#", data-toggle="dropdown").dropdown-toggle
        != t("menu.workflow")
        | &nbsp;
        b.caret
    ul.dropdown-menu
        li
            a(href="#")= t("menu.myworkflows")
        li
            a(href="#")= t("menu.allworkflows")
li.dropdown
    a(href="#", data-toggle="dropdown").dropdown-toggle
        != t("menu.workflowdesign")
        | &nbsp;
        b.caret
    ul.dropdown-menu
        li
            a(href="/field/")= t("menu.fields")
        li
            a(href="#")= t("menu.workflow")
        li
            a(href="#")= t("menu.mailinglist")
li.dropdown
    a(href="#", data-toggle="dropdown").dropdown-toggle
        != t("menu.administration")
        | &nbsp;
        b.caret
    ul.dropdown-menu
        li
            a(href="/user")= t("user.header")
        li
            a(href="#")= t("menu.system")

li.dropdown
    a(href="#", data-toggle="dropdown").dropdown-toggle
        != t("menu.account")
        | &nbsp;
        b.caret
    ul.dropdown-menu
        li
            a(href="#")= t("menu.accountsettings")
        li
            a(href="/logout")= t("menu.logout")